<h1> Yeni Müşteri Ekle</h1>
<span style="background: #b3696a; padding: 5px; margin-right: 10px"><%= link_to '<< Geri Dön', customers_path, style: 'color:#fff; text-decoration: none' %> </span>

<%= render 'form' %>